.preview-search-content-container {
  bottom: 0;
  overflow-y: auto;
  position: fixed;
  right: 10rem;
  top: 5.5rem;

  @media (max-width: 1280px) {
    display: none;
  }

  @media (max-width: 2000px) {
    right: 5rem;
  }

  .preview-search-content {
    @apply bg-white border border-white-dark;

    max-width: 1500px;

    .preview-search-content-popup {
      display: flex;
      flex-direction: column;
      padding: 0.5rem 1rem;
    }
  }
}

.search-input-container {
  display: block;
  margin: auto 20px;
  position: relative;

  @media (max-width: 1280px) {
    margin: 20px;
  }
}
